# Go build artifacts and dependencies
*.exe
*.dll
*.so
*.dylib
*.test
*.out
*.coverprofile
*.cover.out
_vendoring.json
_modules.txt
*.o
*.a
go.work
vendor/

# Exclude test database
*.db
db/*.db

# Editor and IDE specific files
.vscode/
.idea/
.DS_Store

# Build directories
/bin/
/build/

# Environment variables and secrets
.env

# Log files
*.log
