/* Page Heading */
.about-me-heading {
  font-size: 2.5rem;
  color: #e0e0e0;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
}

/* Form Layout */
.about-me-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(20, 20, 20, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* General form styling */
.about-me-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  min-width: 30vw;
}

/* Form Fieldset */
fieldset.about-me-form-fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form { 
  grid-column: 2 / 6;
  grid-row: 2 / 5;
}


.edit-about-me-container {
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(10, 10vh);
}

.edit-about-me-heading {
  grid-column: 5 / 7;
  grid-row: 1 / 1;
  align-self: center;
  justify-self: center;
}

.edit-about-me-technologies {
  grid-column: 8 / 9;
  grid-row: 2 / 3;
}

/* Label Styling */
.about-me-form-title {
  font-size: 1rem;
  color: #b0c7e4;
  margin: 0;
  font-weight: 500;
}

/* Input Styling */
.about-me-form-input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #e0e0e0;
  background-color: rgba(30, 30, 30, 0.8);
  border: 1px solid #444;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

/* Input Focus State */
.about-me-form-input:focus {
  border-color: #3a7bd5;
  box-shadow: 0 0 5px 0 rgba(58, 123, 213, 0.5);
  background-color: rgba(40, 40, 40, 0.9);
}

/* Input Hover State */
.about-me-form-input:hover {
  background-color: rgba(35, 35, 35, 0.85);
}

/* CSS */
.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* Responsive Adjustments */
@media (max-width: 1456px) {
  .about-me-form-group {
    min-width: 600px;
  }
}

@media (max-width: 768px) {
  .about-me-form-input {
    font-size: 0.9rem;
    padding: 0.65rem 0.9rem;
  }

  .about-me-heading {
    font-size: 2rem;
  }

  .about-me-form-group {
    min-width: 78vw;
  }
}

@media (max-width: 480px) {
  .about-me-form-group {
    margin-bottom: 1rem;
  }

  .about-me-form-input {
    padding: 0.6rem 0.8rem;
  }

  .about-me-heading {
    font-size: 1.8rem;
  }
}
