html {
  color-scheme: dark light;
  hanging-punctuation: first last;
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  margin: 0;
}

.content-container {
  display: flex;
  background-color: #172331;
  flex-direction: column;
  align-items: center;
}
.about-me-container {
  display: flex;
  background-color: rgb(24,143,88, .75);
  width: 100%;
  height: 85vh;
  justify-content: center;

}
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 85vh;
}
.projects-overview-showcase {
  display: flex;
  flex-direction: column;
  
}